.header {
	height: 76px;
	border-bottom: purple solid 2px;
}

.header-text {
	color: purple;
	padding-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-weight: 900;
}
