.main-tasks-container {
	padding: 18px;
	border: 1px solid var(--border-main-tasks-container);
	background-color: var(--background-color-main-tasks-container);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 400px;
	box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
