@import './components/tasksList/tasksList.css';
@import './components/tasksCardRender/tasksCardRender.css';
@import './view/mainView.css';

:root {
	--main-color: blue;
	--body-background-color: #e5e5e5;
	--border-main-tasks-container: #e5e5e5;
	--background-color-main-tasks-container: #ffffff;
	--border-task-field: #e5e5e5;
	--background-color-task-field-checked: #0d6efd;
	--color-custom-checkbox-input-checked: #0d6efd;
	--background-color-custom-checkbox-input-checked: #0d6efd;
	--color-task-header: #0d6efd;
	--clor-task-header-checked: #ffffff;
}

#root {
	margin: 0;
	display: grid;
	place-items: center;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--body-background-color);
}
