@import './components/tasksList/tasksList.css';
@import './components/tasksCardRender/tasksCardRender.css';
@import './view/mainView.css';

:root {
	--main_color: blue;
}

#root {
	margin: 0;
	display: grid;
	place-items: center;
}

body {
	font-family: Arial, sans-serif;
	background-color: #e5e5e5;
}
